.state {
    fill: #ddc;
}
.state:hover {
    fill: darkgray;
}
.state.selected {
    fill:#d7301f;
}
.county {
    fill: #ddc;
}
.county:hover {
    fill: darkgrey;
}
.county.selected {
    fill:#d7301f;
}
.subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-linejoin: round;
}